/*  Mobile  */
@media (min-width:0px){

    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    
    .menu {
        margin: 30px 20px 0px 20px;
        overflow: hidden;
        position: relative;
        a {
            font-size: 18px;
            font-weight: 700;
            display: block;
            color: white;
            text-align: center;
            align-items: center;
            padding: 20px;
            text-decoration: none;
        }
        a.icon{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            color: grey;
            margin-top: -23px;
        }
        svg:focus{
            background-color: none;
        }
        a:hover {
            color: black;
        }
    }
    
    .menuhr {
        width: 80%;
    }
    
    .hidden {
        display: none
    }
    
    .active {
        color: red;
    }
    
    .menu_options {
        background-color: $DarkViolet;
        border-radius: 10px 10px 10px 10px;
    }
    
    .btn-login {
        margin-left: 13%;
        padding: 2% 30%;
        margin-bottom: 30px; 
    } 
    
    .btn-menu {
        background-color: $cyan;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-radius: 90px 90px 90px 90px;
        border: none;
    }
    
    .btn-menu:hover {
        opacity: 0.5;
    }
    
    /*Footer */

    .down-footer{
        background-color: $VeryDarkViolet;
        display: flex;
        flex-direction: column;
        
        padding: 10% 0 10% 0;
        text-align: center;

        a:hover{
            color: red;
        }

        .logofooter{
            filter:hue-rotate(100deg) brightness(1000%);
            align-self: center;
            }


        div p{
            color:$Gray;
            margin: 1%;

           
        }
        div p:first-child{
            padding: 10px 0 10px 0;
            color:white;
            font-weight: bold;
        }

        .imagenes{

            //background-color: lightgreen;
            padding-top: 10%;
            width: 100%;
            
            
            img{
                flex: auto;
                margin: 0 5% 0 0;
                //background-color: red;
                height: 80%;
                
            }
            :hover{ //pendiente - cambiar colores
               //blalbalba
               color:red;
            }
        }
    }

    .up-footer{
        background-color: $DarkViolet;
        background-image: url(../images/bg-boost-mobile.svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10% 0 10% 0;
        text-align: center;
        color:white;
        font-weight: bolder;

        button{
            padding: 2% 30%;
            margin-bottom: 30px; 
        }
       
       
    }
    

    }