/*  Mobile  */
@media (max-width: 375px) {
    body {
        font-family: "Poppins", sans-serif !important;
        margin: 0;
    }

    .menu {
        margin: 30px 20px 0px 20px;
        overflow: hidden;
        position: relative;
        a {
            font-size: 18px;
            font-weight: 700;
            display: block;
            color: white;
            text-align: center;
            align-items: center;
            padding: 20px;
            text-decoration: none;
        }
        a.icon {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            color: grey;
            margin-top: -23px;
        }
        svg:focus {
            background-color: none;
        }
        a:hover {
            color: black;
        }
    }

    .menuhr {
        width: 80%;
    }

    .hidden {
        display: none;
    }

    .active {
        color: red;
    }

    .menu_options {
        background-color: $DarkViolet;
        border-radius: 10px 10px 10px 10px;
    }

    .btn-login {
        margin-left: 8%;
        padding: 2% 30%;
        margin-bottom: 30px;
    }

    .btn-menu {
        background-color: $cyan;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-radius: 90px 90px 90px 90px;
        border: none;
    }

    .btn-menu:hover {
        opacity: 0.5;
    }

    /* Components header */
    .banner_img {
        background-image: url("../images/illustration-working.svg");
        background-position: 20px 0;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 308px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_title_fst {
            font-size: 42px;
            font-weight: bold;
            color: $VeryDarkBlue;
            margin-top: 8%;
            margin-bottom: 1%;
        }

        &_title_scd {
            font-size: 42px;
            font-weight: bold;
            color: $VeryDarkBlue;
            margin-top: -5%;
            margin-bottom: -3%;
        }

        &_text {
            text-align: center;
            color: $GrayishViolet;
            font-size: 19px;
            margin-bottom: 6px;
        }

        .banner_text_btn {
            margin-left: 25%;
        }

        .banner_button {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            background-color: $cyan;
            border-radius: 90px 90px 90px 90px;
            border: none;
            padding: 11% 30%;
            width: 186px;
            z-index: 1;

            &_text {
                font-size: 18px;
                font-weight: bold;
                color: white;
                position: absolute;
            }
        }
    }

    /* form */
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
        background: linear-gradient(to bottom, white 65%, $BackCards 0%);
    }

    .form_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../images/bg-shorten-mobile.svg");
        background-color: $VeryDarkViolet;
        background-position: 60px -60px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90%;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 9px;
        z-index: 1;
    }

    .input_shorten {
        width: 280px;
        height: 39px;
        border: 1px solid black;
        border-radius: 6px;
    }

    input {
        padding-left: 10px;
    }

    input::placeholder {
        padding-left: 10px;
        color: $Gray;
        font-weight: 600;
    }

    input,
    input[focus] {
        outline: none;
    }

    .button_shorten {
        margin-top: 13px;
        background-color: $cyan;
        border-radius: 6px;
        border: none;
        padding: 6%;
        width: 290px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        outline: none;
    }

    #mensajeError {
        color: red;
        margin-right: auto;
        display: none;
        font-size: 10pt;
        margin-top: 10px;
        font-style: oblique;
    }

    /* Cards */

    #card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $BackCards;
        padding-bottom: 30px;
        justify-content: center;
    }

    #card1 {
        text-align: center;
        padding: 70px 20px 50px 20px;
        h1 {
            font-weight: 700;
            color: $VeryDarkViolet;
        }
        h5 {
            font-weight: 500;
            font-size: 18px;
            color: $GrayishViolet;
        }
    }

    #card2 {
        text-align: center;
        position: relative;
        background-color: white;
        width: calc(90% - 30px);
        padding: 10px;
        border-radius: 6px;
        margin: 0px;
        height: calc(90% - 30px);
        //margin-bottom: 80px;

        h1 {
            font-weight: 700;
            color: $VeryDarkViolet;
            margin-top: 40px;
        }

        h5 {
            font-weight: 400;
            font-size: 18px;
            color: $GrayishViolet;
        }
    }

    .circle_card {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $DarkViolet;
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }

    #img1 {
        width: 40px;
        height: 40px;
    }

    .card_separator {
        display: flex;
        align-items: center;
        justify-content: center;

        &_line {
            width: 9px;
            height: 75px;
            background-color: $cyan;
        }
    }

    /*Footer */

    .down-footer {
        background-color: $VeryDarkViolet;
        display: flex;
        flex-direction: column;

        padding: 10% 0 10% 0;
        text-align: center;

        a:hover {
            color: hsl(180, 66%, 49%);
        }

        .logofooter {
            filter: hue-rotate(100deg) brightness(1000%);
            align-self: center;
        }

        div a {
            color: $Gray;

            line-height: 30px;
        }
        div p {
            padding: 10px 0 10px 0;
            color: white;
            font-weight: bold;
        }

        /*Footer */

        .contacto {
            background-color: red;
            text-align: center;
        }
        .contacto .imagenes img {
            width: 50px;
            height: 50px;
        }
    }
    .imagenes {
        //background-color: lightgreen;
        padding-top: 10%;
        width: 100%;

        img {
            flex: auto;
            margin: 0 5% 0 0;
            //background-color: red;
            height: 80%;
        }
        :hover {
            //pendiente - cambiar colores
            //blalbalba
            color: red;
        }
    }

    .up-footer {
        background-color: $DarkViolet;
        background-image: url(../images/bg-boost-mobile.svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10% 0 10% 0;
        text-align: center;
        color: white;
        font-weight: bolder;

        button {
            padding: 2% 30%;
            margin-bottom: 30px;
        }
    }
}
