/* Globales */
/*Primary*/
/*Secondary*/
/*Neutral*/
@import url("https://fonts.googleapis.com/css2?family=Poppins");
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/*  Mobile  */
@media (min-width: 0px) {
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  .menu {
    margin: 30px 20px 0px 20px;
    overflow: hidden;
    position: relative;
  }
  .menu a {
    font-size: 18px;
    font-weight: 700;
    display: block;
    color: white;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    text-decoration: none;
  }
  .menu a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: grey;
    margin-top: -23px;
  }
  .menu svg:focus {
    background-color: none;
  }
  .menu a:hover {
    color: black;
  }
  .menuhr {
    width: 80%;
  }
  .hidden {
    display: none;
  }
  .active {
    color: red;
  }
  .menu_options {
    background-color: #3b3054;
    border-radius: 10px 10px 10px 10px;
  }
  .btn-login {
    margin-left: 13%;
    padding: 2% 30%;
    margin-bottom: 30px;
  }
  .btn-menu {
    background-color: #2acfcf;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 90px 90px 90px 90px;
    border: none;
  }
  .btn-menu:hover {
    opacity: 0.5;
  }
  /*Footer */
  /*
    .contacto{
        display: flex;
        flex-direction: column;
        background-color:red;
        text-align:center;
        padding: 50px 0 50px 0;

    .logofooter{
        filter:hue-rotate(100deg) brightness(1000%);
        padding-bottom: 50px;
        }
    .imagenes img{
        width: 30px;
        height: 30px;
        align-content: space-between;
    }
    
    }

    .contacto div p:first-child{
        padding: 10px 0 10px 0;
        color:white;
        font-weight: bold;
        

    }
    .contacto div p{
        color:$Gray;
        margin: 50;
    }

    */
  .down-footer, .up-footer {
    background-color: #232127;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10% 0 10% 0;
    text-align: center;
  }
  .down-footer .logofooter, .up-footer .logofooter {
    -webkit-filter: hue-rotate(100deg) brightness(1000%);
            filter: hue-rotate(100deg) brightness(1000%);
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .down-footer div p, .up-footer div p {
    color: #bfbfbf;
    margin: 1%;
  }
  .down-footer div p:first-child, .up-footer div p:first-child {
    padding: 10px 0 10px 0;
    color: white;
    font-weight: bold;
  }
  .down-footer .imagenes, .up-footer .imagenes {
    padding-top: 10%;
    width: 100%;
  }
  .down-footer .imagenes img, .up-footer .imagenes img {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 0 5% 0 0;
    height: 80%;
  }
  .up-footer {
    background-color: blue;
  }
}

/*  Escritorio  */
@media (min-width: 800px) {
  hr, #btnBurger {
    display: none;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    margin: 30px 20px 0px 150px;
  }
  .menu a {
    padding: 15px 15px;
    text-decoration: none;
    display: inline-block;
    color: grey;
    text-align: center;
  }
  #menu_end {
    margin-left: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu_options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
  }
  .menu a:hover {
    color: black;
  }
  .btn-login {
    padding: 10px 25px;
    margin-left: 0%;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
  }
}
/*# sourceMappingURL=style.css.map */