/* Globales */

/*Primary*/
$cyan:hsl(180, 66%, 49%);
$DarkViolet:hsl(257, 27%, 26%);
/*Secondary*/
$Red:hsl(0, 87%, 67%);
/*Neutral*/
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);

// .attribution { 
//     font-size: 11px; text-align: center; 
//     a { 
//         color: hsl(228, 45%, 44%); 
//     }
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

@import "mobile";

@import "desktop";
