/* Globales */

/*Primary*/
$cyan:hsl(180, 66%, 49%);
$DarkViolet:hsl(257, 27%, 26%);
/*Secondary*/
$Red:hsl(0, 87%, 67%);
/*Neutral*/
$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);

// .attribution { 
//     font-size: 11px; text-align: center; 
//     a { 
//         color: hsl(228, 45%, 44%); 
//     }
// }

@import url('https://fonts.googleapis.com/css2?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/*  Mobile  */
@media (min-width:0px){

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.menu {
    margin: 30px 20px 0px 20px;
    overflow: hidden;
    position: relative;
    a {
        font-size: 18px;
        font-weight: 700;
        display: block;
        color: white;
        text-align: center;
        align-items: center;
        padding: 20px;
        text-decoration: none;
    }
    a.icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: grey;
        margin-top: -23px;
    }
    svg:focus{
        background-color: none;
    }
    a:hover {
        color: black;
    }
}

.menuhr {
    width: 80%;
}

.hidden {
    display: none
}

.active {
    color: red;
}

.menu_options {
    background-color: $DarkViolet;
    border-radius: 10px 10px 10px 10px;
}

.btn-login {
    margin-left: 13%;
    padding: 2% 30%;
    margin-bottom: 30px; 
} 

.btn-menu {
    background-color: $cyan;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 90px 90px 90px 90px;
    border: none;
}

.btn-menu:hover {
    opacity: 0.5;
}

/*Footer */

.contacto{
    background-color: red;
    text-align:center;
}
.contacto .imagenes img{
    width: 50px;
    height: 50px;
}

}


/*  Escritorio  */
@media (min-width:800px){
     
    hr, #btnBurger {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 10px;
        margin: 30px 20px 0px 150px;
        a{
            padding: 15px 15px;
            text-decoration: none;
            display: inline-block;
            color: grey;
            text-align: center;
        }
    }

    #menu_end{
        margin-left: 290px;
        display: flex;
    }

    .menu_options{
        display: flex;
        background-color: white;
        border-radius: 10px 10px 10px 10px;   
    }


    .menu a:hover{
        color: black;
    }

    .btn-login { 
        padding: 10px 25px;
        margin-left: 0%;
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: 700;
      }
}


